@import "tailwindcss";
@plugin "daisyui";

:root {
  --default: #ffffff;
  --prefersdark: #171717;
}
@plugin "daisyui" {
  themes: light var(--default), dark var(--prefersdark);
}

@theme inline {
  --color-background: var(--default);
  --color-foreground: var(--prefersdark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --default: #0a0a0a;
    --prefersdark: #ededed;
  }
}

body {
  background: var(--default);
  color: var(--prefersdark);
  font-family: Arial, Helvetica, sans-serif;
}
